body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    width: auto;
    font-family: 'Signika Negative';
    font-style: normal;
    text-align: center;
    background-image: url("./img/5_background/desert-5112222.svg");
    background-position: center;
    background-size: cover;
}



.fontArt {
    background: -webkit-linear-gradient(0deg, rgba(255, 154, 0, 1) 0%, rgba(255, 216, 0, 1) 50%, rgba(255, 154, 0, 1) 100%);
    background: -moz-linear-gradient(0deg, rgba(255, 154, 0, 1) 0%, rgba(255, 216, 0, 1) 50%, rgba(255, 154, 0, 1) 100%);
    background: linear-gradient(0deg, rgba(255, 154, 0, 1) 0%, rgba(255, 216, 0, 1) 50%, rgba(255, 154, 0, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(3px 1px #952816);
}

.bodyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(248, 234, 215, 0.322);
    background-size: auto;
    height: 100%;
    width: auto;
}

.startScreen {
    display: block;
    height: 100%;
    width: auto;
}

.startScreen img {
    height: 100%;
    width: 100%;
}


.gameScreen {
    position: relative;
    display: flex;
    align-items: center;
    height:max-content;
    justify-content: center;

}


.canvasContainer{
position: relative;
}
canvas {
    /* position: relative; */
    background-color: black;
    display: block;

}

.d-none {
    display: none !important;
}

.bgScreenEndOfGame {
    background-image: url("./img/5_background/first_half_background.png");
}




.bgScreen {
    display: flex;
    flex: content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* width: 720px;
    height: 400px;*/
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
}

.ovlerlayButtonArea{
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.youLost{
    flex: 1;
}

.lostOrWinScreen{
    flex: 1;
}

.controlButton{
    /* width: 50px; */
    /* height: 50px; */
    font-size: 70px;
    /* background-color: #ffaa22; */
    /* border-radius: 50%; Radius für abgerundete Ecken */
    /* border: 1px solid #fff; Rahmen */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); Schatten */

}
.buttonContainer {
    position: absolute;
    width: 100px;
    top: 10vh;
    left: calc(50% - 50px);
}

.myButton {
    box-shadow: inset 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    /* display:inline-block; */
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

.myButton:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
}

.myButton:active {
    /* position:relative; */
    top: 1px;
}

.headlinePosition {
    margin: 0;
}



p {
    font-weight: 700;
    font-size: 70px;
}


@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .headlinePosition {
        display: none;
    }

}

@media only screen and (max-height: 530px) {
    .headlinePosition {
        display: none;
    }

}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }


}